<h1><%= @title %></h1>
<h3>Your Moments</h3>
<% @user.moments.each do |moment| %>
	<p><%= link_to moment.name, moment_path(moment)%></p>
<% end %>
<h3><%= link_to 'Create a Music Moment >>', new_moment_path %></h3>
